* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* NAVBAR */

#navbar ul li a {
  color: white;
}
#navbar li a:hover {
  color: gray;
  opacity: 0.9;
}

#navbar .active a {
  /*background-color: #228b22	;*/
  font-weight: bold;
  color: #26bcd0;
}

.navbar-brand {
  color: #1dcaff;
}

.gallery-header {
  margin-top: 60px;
  align-items: center;
  text-align: center;
}
.gallery-header span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 90px;
  color: rgb(11, 63, 105);
}
.gallery-header img {
  width: 70px;
  height: auto;
  margin-bottom: 35px;
  margin-left: -60px;
  animation: float 2s ease-in-out infinite;
}
.gallery-header p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: large;
  color: rgb(131, 161, 161);
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  border: 4px groove hsl(212, 86%, 64%);
  padding: 12px 0;
  padding: 0 4px;
  margin: 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  /*margin-top: 8px;*/
  vertical-align: middle;
  width: 100%;
  /*border-radius: 4%;*/
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 4%;
}

.column img:hover{
  animation: shake 1s infinite;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
