* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}
.gallery-header {
  margin: auto;
  align-items: center;
  text-align: center;
}
.gallery-header span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 90px;
  color: rgb(30, 101, 122);
}
.gallery-header p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  font-size: large;
  color: rgb(131, 161, 161);
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  border: 4px dashed hsl(212, 86%, 64%);
  padding: 12px 0;
  padding: 0 4px;
  margin: 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  /*margin-top: 8px;*/
  vertical-align: middle;
  width: 100%;
  /*border-radius: 4%;*/
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 4%;
}

.mfp-bottom-bar,
* {
  font-family: "Abel", sans-serif;
}

a {
  outline: 0 !important;
}

a.image-popup-vertical-fit {
  cursor: -webkit-zoom-in;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*Hover on the Image*/

/*.img-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.img-wrap img {
  max-width: 100%;
}
.img-wrap .imageGallery {
  display: block;
}
.img-wrap .middleTextGallery {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.img-wrap:hover .middleTextGallery,
.img-wrap.active .middleTextGallery {
  opacity: 1;
}
.img-wrap .textGallery {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img-wrap .textGallery_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
/*  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.img-wrap.active .textGallery_mobile {
  display: block;
}*/
